<!-- <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-md-3" *ngIf="categories && categories.length > 0; else noCategories">
        <div *ngFor="let category of categories" class="category-card">
          <span class="bullet">&#10146;</span> {{ category.name }}
        </div>
      </div>
    
      <ng-template #noCategories>
        <p>No categories found.</p>
      </ng-template>
    </div>
  </div>
  

  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-md-3" *ngIf="categories && categories.length > 0; else noCategories">
        <div *ngFor="let category of fetchcategories" class="category-card">
          <span class="bullet">&#10146;</span> {{ category.name }}
        </div>
      </div>
    
      <ng-template #noCategories>
        <p>No categories found.</p>
      </ng-template>
    </div>
  </div> -->




  <!-- <div class="col-md-3 col-lg-3 col-xl-2  custom-padding" style="margin-top: 100px;">
    <div >
      <div class="card shadow-sm" style="height: 100%; overflow-y: auto;">
        <div class="card-header" style="background: linear-gradient(to right, #ff5500, #FF8c00); color: white;">
          <h6 class="mb-0" style="font-size: 20px;">Categories Filters</h6>
        </div>

        <div class="card-body">
          <nz-tree
            [nzData]="nodes"
            [nzSearchValue]="searchValue"
            (nzClick)="onCategoryClick($event)" 
            nzBlockNode 
          ></nz-tree>
        </div>
        
      </div>
      
    </div>
    
  </div>
  


  <div *ngIf="categoryData" class="category-details">
    <h2>{{ categoryData.name }}</h2>
    <p>{{ categoryData.desc }}</p>
    <div *ngFor="let item of categoryData.file_path.data">
      <div *ngIf="item.type === 'text'">
        <p>{{ item.text }}</p>
      </div>
      <div *ngIf="item.type === 'image'">
        <img [src]="item.image ? 'data:image/jpeg;base64,' + item.image :''" alt="{{ categoryData.name }}" />

      </div>
    </div>
  </div> -->




  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-2 custom-padding" style="margin-top: 100px; position: sticky; top: 100px;">
        <div>
          <div class="card shadow-sm">
            <div class="card-header" style="background: linear-gradient(to right, #ff5500, #FF8c00); color: white;">
              <h6 class="mb-0" style="font-size: 20px;">Categories Filters</h6>
            </div>
            <div class="card-body" style="height: 80vh; overflow-y: auto;">
              <nz-tree
                [nzData]="nodes"
                [nzSearchValue]="searchValue"
                (nzClick)="onCategoryClick($event)" 
                nzBlockNode 
              ></nz-tree>
            </div>
          </div>
        </div>
      </div>
<!--   
      <div class="col-md-9 col-lg-9 col-xl-10" style="margin-top: 100px; height: 80vh; overflow-y: auto;">
        <div *ngIf="categoryData" class="category-details">
          <h2>{{ categoryData.name }}</h2>
          <p>{{ categoryData.desc }}</p>
          <div *ngFor="let item of categoryData.file_path.data">
            <div *ngIf="item.type === 'text'">
              <p>{{ item.text }}</p>
            </div>
            <div *ngIf="item.type === 'image'" class="d-flex justify-content-center align-items-center">
              <img [src]="item.image ? 'data:image/jpeg;base64,' + item.image : ''" alt="{{ categoryData.name }}" class="img-fluid" />
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-md-9 col-lg-9 col-xl-10" style="margin-top: 100px; height: 80vh; overflow-y: auto;">
        <div *ngIf="categoryData" class="category-details">
          <h2 style="text-align: center;color: #ff5500;">{{ categoryData.name }}</h2>
          <p>{{ categoryData.desc }}</p>
          <div *ngFor="let item of categoryData.file_path.data">
            <div *ngIf="item.type === 'text'">
              <p [innerHTML]="highlightText(item.text)"></p>
            </div>
            <div *ngIf="item.type === 'image'" class="d-flex justify-content-center align-items-center">
              <img [src]="item.image ? 'data:image/jpeg;base64,' + item.image : ''" alt="{{ categoryData.name }}" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  
  