label {
    font-weight: bold;
  }
.row{
  margin-bottom: 10px;
}


.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Make sure it's above other content */
  background: rgba(255, 255, 255, 0.8); /* Optional: to add a background */
  padding: 20px;
  border-radius: 10px;
}




/* .video-container {
  border: 2px solid #007bff; 
  border-radius: 10px;    
  text-align: center; 
  width: 30%;
  height:100%;
  justify-content: center;


} */


.video-container {
  /* border: 2px solid #007bff; */
  /* border-radius: 10px; */
  background-color: #f0f0f0;  
  width: 30%;
  height:80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  cursor: pointer;  
}

.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  border: 0.15em solid rgba(255, 255, 255, 0.3);
  border-right-color: white; /* Customize color */
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}