
  <div class="container" style="margin-top: 150px;">
    <div class="mt-3 text-end">
      <button (click)="openmemberDialog()" class="btn btn-primary btn-sm" style="background-color: orange; border-color: orange;">Edit Profile</button>
    </div>
    <div class="row" *ngIf="user">
      <div class="col-12 text-center">
        <img 
          [src]="user.profile_pic ? 'data:image/jpeg;base64,' +  user.profile_pic : '../../assets/images/profile1.webp'"
          class="rounded-circle" 
          alt="" 
          style="width: 150px; height: 150px; max-width: 100%;">
  
        <div>
          <h5 class="mt-2 capitalize">{{ user.full_name }}</h5>
        </div>
  
        <div class="row mt-2 justify-content-start">
          <div class="col-12 col-md-3" *ngIf="user.father_name">
            <p class="capitalize"><strong>Father's Name:</strong> {{ user.father_name }}</p>
          </div>

          <div class="col-12 col-md-3" *ngIf="user.contact_number">
            <p><strong>Contact Number:</strong> {{ user.contact_number }}</p>
          </div>
          <div class="col-12 col-md-3" *ngIf="user.email">
            <p><strong>E-mail:</strong> {{ user.email }}</p>
          </div>
          <div class="col-12 col-md-3" *ngIf="user.gender">
            <p><strong>Gender:</strong> {{ user.gender }}</p>
          </div>

        </div>

      </div>
    </div>
  
    <hr>

    
  
<!-- <div class="row mt-4">
      <div class="col-12">
        <h6>Your Added Organizations</h6>
      </div>
      <div class="row" *ngIf="Organizations && Organizations.length > 0; else noData">
        <div class="col-6 col-md-3 col-lg-2 mb-3" *ngFor="let organization of Organizations;">
          <div class="text-center">
            <a (click)="navigateorganizationDetail(organization._id)">
              <img 
                [src]="organization.org_logo && organization.org_logo !== 'data not found' 
                       ?  organization.org_logo 
                       : '../../assets/images/world.png'" 
                class="img-fluid img-thumbnail mx-2" 
                style="height: 18vh; width: 100%; max-width: 150px; border-radius: 20px;" 
                alt="Organization Image">
            </a>
            <p class="text-center">{{organization.organization_name}}</p>
          </div>
        </div>
      </div>
      <ng-template #noData>
        <div class="col-12">
          <p class="text-center">No organizations added yet.</p>
        </div>
      </ng-template>
    </div> -->


    <!-- <hr>
  
    <div class="row mt-4">
      <div class="col-12">
        <h6>Your Added Events</h6>
      </div>
      <div class="row" *ngIf="eventdata && eventdata.length > 0; else noEvents">
        <div class="col-6 col-md-3 col-lg-2 mb-3" *ngFor="let eventdata of eventdata;">
          <div class="text-center">
            <a (click)="navigateeventDetail(eventdata._id)">
              <img 
                [src]="eventdata.event_images && eventdata.event_images !== 'data not found' 
                       ? eventdata.event_images 
                       : '../../assets/images/world.png'" 
                class="img-fluid img-thumbnail mx-2" 
                style="height: 18vh; width: 100%; max-width: 150px; border-radius: 20px;" 
                alt="Event Image"
              >
            </a>
            <p class="text-center">{{ eventdata.name }}</p>
          </div>
        </div>
      </div>
      <ng-template #noEvents>
        <div class="col-12">
          <p class="text-center">No events added yet.</p>
        </div>
      </ng-template>
    </div>
  
    <hr> -->
  
    <div class="row mt-4">
      <div class="col-12">
        <h6>Your Added Trainings</h6>
      </div>
      <div class="row" *ngIf="trainingdata && trainingdata.length > 0; else noTrainings">
        <div class="col-6 col-md-3 col-lg-2 mb-3" *ngFor="let organization of trainingdata;">
          <div class="text-center">
            <a (click)="navigatetrainigDetail(organization._id)">
              <img 
                [src]="organization.image && organization.image !== 'data not found' 
                       ?  organization.image 
                       : '../../assets/images/world.png'" 
                class="img-fluid img-thumbnail mx-2" 
                style="height: 18vh; width: 100%; max-width: 150px; border-radius: 20px;" 
                alt="Training Image">
            </a>
            <p class="text-center">{{ organization.name }}</p>
          </div>
        </div>
      </div>
      <ng-template #noTrainings>
        <div class="col-12">
          <p class="text-center">No trainings added yet.</p>
        </div>
      </ng-template>
    </div>
  </div>
  